{% for entry in edition.sponsors %}
<article class="sponsors">
<h2>{{ entry.type }}</h2>
<div>
{% for sponsor in entry.who %}
{% capture sponsor_link %}{{site.data.sponsors[sponsor].link}}{% endcapture %}<!-- Link is "{{sponsor_link}}" -->
{% if sponsor_link != "" %}{% assign close = "</a>" %}<a href="{{sponsor_link}}">{%
else %}{% assign close = "</span>" %}<span>{% endif %}<img
  class="logo" alt="{{sponsor}}" src="{{relative_root}}/assets/images/sponsors/{{site.data.sponsors[sponsor].logo}}" title="{{sponsor}}">{{ close }}
{% endfor %}
</div>
</article>
{% endfor %}
