@font-face {
  font-family:'Titillium Web';
  font-style:normal;
  font-weight:600;
  font-display:swap;
  src:local("Titillium Web SemiBold"),
  local("TitilliumWeb-SemiBold"),
  url(../fonts/titillium-web-v8-latin-600.5d5145c155e9.woff2) format("woff2"),
  url(../fonts/titillium-web-v8-latin-600.7679c7b87df1.woff) format("woff")
}
@font-face {
  font-family:'Titillium Web';
  font-style:normal;
  font-weight:700;
  font-display:swap;
  src:local("Titillium Web Bold"),
  local("TitilliumWeb-Bold"),
  url(../fonts/titillium-web-v8-latin-700.704fc425c3cf.woff2) format("woff2"),
  url(../fonts/titillium-web-v8-latin-700.a804c575a27c.woff) format("woff")
}
@font-face {
  font-family:'Titillium Web';
  font-style:italic;
  font-weight:600;
  font-display:swap;
  src:local("Titillium Web SemiBold Italic"),
  local("TitilliumWeb-SemiBoldItalic"),
  url(../fonts/titillium-web-v8-latin-600italic.4252e716a8af.woff2) format("woff2"),
  url(../fonts/titillium-web-v8-latin-600italic.ddff3d26452f.woff) format("woff")
}
@font-face {
  font-family:'Titillium Web';
  font-style:italic;
  font-weight:700;
  font-display:swap;
  src:local("Titillium Web Bold Italic"),
  local("TitilliumWeb-BoldItalic"),
  url(../fonts/titillium-web-v8-latin-700italic.1f84eb22992b.woff2) format("woff2"),
  url(../fonts/titillium-web-v8-latin-700italic.af872cf040ce.woff) format("woff")
}
@font-face {
  font-family:'Muli';
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:local(""),
  url(../fonts/muli-v19-latin-regular.705bcc4dd1c3.woff2) format("woff2"),
  url(../fonts/muli-v19-latin-regular.91288b87b7bb.woff) format("woff")
}
@font-face {
  font-family:'Muli';
  font-style:normal;
  font-weight:700;
  font-display:swap;
  src:local(""),
  url(../fonts/muli-v19-latin-700.1d982ad1cb76.woff2) format("woff2"),
  url(../fonts/muli-v19-latin-700.c0a2a08d3187.woff) format("woff")
}
@font-face {
  font-family:'Muli';
  font-style:italic;
  font-weight:400;
  font-display:swap;
  src:local(""),
  url(../fonts/muli-v19-latin-italic.543e731fffe3.woff2) format("woff2"),
  url(../fonts/muli-v19-latin-italic.1e42c4d1b57b.woff) format("woff")
}
@font-face {
  font-family:'Muli';
  font-style:italic;
  font-weight:700;
  font-display:swap;
  src:url(../fonts/muli-v19-latin-700italic.08ea8fa20100.woff2) format("woff2"),
  url(../fonts/muli-v19-latin-700italic.4fbf29a65702.woff) format("woff")
}

