/*********************************************************************************/
/* Grid                                                                          */
/*********************************************************************************/

	.row.flush > *, .row > .flush {
		padding: 15px 0em 0px 0em;
	}

	.row > * {
		padding: 15px 1em 0px 1em;
		float: none;
		margin-left: auto !important;
		margin-right: auto !important;
	}
